.HOT7, .HOT11, .status_flag{
    display:none;
}

.center{
    text-align:center;
}

#query_string{
    ime-mode:active;
}

table{
    width:100%;
    table-layout:fixed;
}

th.医薬品コード{
    width:180px;
}
th.名称{
    width:350px;
}
th.薬価{
    width:75px;
}
th.YJで採用設定{
    width:300px;
}
th.HOTで採用設定{
    width:300px;
}
th.保存{
    width:50px;
}


