.HOT7, .HOT11, .status_flag{
    display:none;
}

#query_string{
    ime-mode:active;
}

.center{
    text-align:center;
}

table{
    width:100%;
    table-layout:fixed;
}

th.コード{
    width: 200px;
}
th.規格単位{
    width:250px;
}
th.薬価{
    width:200px;
}
th.採用状態{
    width:200px;
}
th.リンク{
    width:100px;
}


