.HOT7, .HOT11, .status_flag{
    display:none;
}

#query_string{
    ime-mode:active;
}


table{
    width:1200px;
    table-layout:fixed;
}

th.医薬品コード{
    width:200px;
}

th.名称{
    width:300px;
}
th.規格単位{
    width:100px;
}
th.包装{
    width:80px;
}
th.薬価{
    width:75px;
}
th.採用状態{
    width:200px;
}
th.リンク{
    width:100px;
}


