.HOT7, .HOT11, .status_flag{
    display:none;
}

#query_string{
    ime-mode:active;
}

.center{
    text-align:center;
}

table{
    width:100%;
    table-layout:fixed;
}

th.コード{
    width:150px;
}
th.薬価{
    width:170px;
}
th.コメント{
    width:230px;
}
th.リンク{
    width:100px;
}


